body {
    background-color: black;
    text-align: center;
    font-size: 16px;
    margin: auto;
    color: white;
    font-family: Verdana;
}

h1 {
    font-weight: normal;
    font-size: 3.125em;
    margin: auto;
    padding: .6em;
}

h2 {
    font-weight: 300;
    font-size: 2.625em;
}

a {
    color: aquamarine;
    font: 1em;
}

p {
    font-size: 1.3125em;
    color: gray;
}

img {
    margin: auto;
}

footer {
    text-align: right;
    color: gray;
    font-size: 1.45em;
}

.with_padding {
    padding: .5em;
    margin: .1em;
}